body {
  background-color: hsla(221, 100%, 8%, 0.912);
  padding: 2% 2% 5%;
  text-align: center;
}

h1 {
  color: rgba(208, 210, 211, 0.674);
  font-family: monospace;
}

h2,
h3 {
  color: rgba(185, 120, 215, 0.914);
  width: 60%;
  font-family: monospace;
  margin: 0 auto;
}
