.buttonClass {
  background: linear-gradient(#5ad612, #09ba6a);
  color: hsla(0, 0%, 100%, 0.94);
  font-size: large;
  font-weight: bold;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 3% 1%;
  padding: 0.5% 1.4%;

  box-shadow: inset 0px 1px 0px 0px #fbafe3;

  transition: 0.3s;
}

.buttonClass:hover {
  transform: translate(0, -1px);
}

.buttonMerge {
  background: linear-gradient(#ff5bb0, #ef027d);
}
